{% extends 'admin.html.twig' %}

{% block title %}Symfony E-Shop - Produits{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Produits</h1>
    <table class="table mb-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Slug</th>
                <th scope="col">Image</th>
                <th scope="col">Subtitle</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                {# <th scope="col">Category</th> #}
                <th scope="col">Category
                    <form>
                        <select id="category">
                            <option selected="">Choisir la categorie</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for key, product in products %}
                <tr>
                    <th scope="row">{{ key+1 }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.slug }}</td>
                    <td class="col-2"><img src="{{asset('images/products/' ~ product.image)}}" class="img-fluid product-image"></td>
                    <td class="col-1">{{ product.subtitle|slice(0, 40) ~ '...' }}</td>
                    <td class="col-2">{{ product.description|slice(0, 100) ~ '...' }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category.name }}</td>
                    <td class="col-2">
                        <a href="{{ path('app_admin_update_product', {'id': product.id}) }}" class="btn btn-sm btn-success">Modifier</a>
                        <a href="{{ path('app_admin_remove_product', {'id': product.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" class="text-center">
                        <div class="alert alert-warning" role="alert">
                            Il n'y a pas des produits dans la base de données.
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_admin_add_product') }}" class="btn btn-primary mb-4">Ajouter un produit</a>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>

        var category = document.getElementById("category");
        var categoryId = category.value;
        /* category.addEventListener("click", function() {
            var categoryId = category.value;
            //axios.post("{{ path('app_admin_products_category', {'categoryId':" . categoryId . "}) }}");
            axios.post(`https://localhost/administration/produits/categorie/${categoryId}`);
        }); */
        const productsByCategory = async (categoryId) => {
            const res = await axios.get("{{ path('app_admin_products_category', {'categoryId':" . categoryId . "}) }}");
            console.log(res.data);
        }
        productsByCategory();
    </script>
{% endblock %}
