{% extends 'admin.html.twig' %}

{% block title %}Symfony E-Shop - Produits{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Produits</h1>
        <table class="table table-striped mb-3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Image</th>
                    <th scope="col">Subtitle</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.slug }}</td>
                        <td><img src="{{asset('images/products/' ~ product.image)}}" class="img-fluid"></td>
                        <td>{{ product.subtitle }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.category }}</td>
                        <td>
                            <a href="" class="btn btn-sm btn-success">Modifier</a>
                            <a href="" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="" class="btn btn-primary mb-4">Ajouter un produit</a>
{% endblock %}
