{% extends 'admin.html.twig' %}

{% block title %}Symfony E-Shop - Categories{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Categories</h1>
        <table class="table table-striped mb-3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{ category.id }}</th>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{{ path('app_admin_update_category', {'id': category.id}) }}" class="btn btn-sm btn-success">Modifier</a>
                            <a href="{{ path('app_admin_remove_category', {'id': category.id}) }}" class="btn btn-sm btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_admin_add_category') }}" class="btn btn-primary mb-4">Ajouter categorie</a>
{% endblock %}
